.pointer {
    cursor: pointer;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
}

.background-primary {
    background-color: #006633;
    color: #ffffff;
}

.background-secondary {
    background-color: #009933;
    color: #ffffff;
}

.color-primary {
    color: #006633;
}

.color-secondary {
    color: #009933;
}

.outline {
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}
